<form method="post" enctype="multipart/form-data">
    <label for="sentence">Add the sentence</label>
    <input type="text" id="sentence" name="sentence" required>
    <label for="email">Enter your email</label>
    <input type="email" id="email" name="email" required>
    <input type="file" id="file" name="file">
    <input type="submit" value="Add">
</form>
